#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#display{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#chatbox{
    height: 300px;
    width: 500px;
    overflow: auto;
}

#updates{
    height: 300px;
    width: 200px;
    overflow: auto;
}

#input{
    display: flex;
    flex-direction: column;
}

textarea{
    width: 400px;
}